/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

                        /***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
  background: #c3c3c3;
  height: 1.2rem;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
  background: #c3c3c3;
  height: 1.2rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -0.4rem; /* Centers thumb on the track */
  background-color: #1484ca;
  height: 2rem;
  width: 2rem;    
}