.question-box {
    display: flex;
    flex-direction: row;
    align-items: start;
    border-radius: 15px;
    margin: 0;
    padding: 1rem;
    background-color: #489bd4;
    background-size: 75%;
    background-image: url('../assets/images/texture.png');

}

.question-text {
    margin: 0;
    padding: 0;
    margin: 0.5rem;
    font-size: 1.5rem !important;
    color: #616161;
    text-align: left;
    letter-spacing: -0.5px;
    color: white;
}

.question-image {
    border-radius: 15px;
    width: 200px;
    height: 200px;
    border: 5px solid rgb(219, 237, 244);

}

@media only screen and (max-width: 760px) {
    .question-box {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .question-text {
        font-size: 1.5rem;
    }
    /* .question-image {
        width: 275px;
        height: 275px;
        margin-top: 20px;
    } */
}