@font-face {
    font-family: 'CustomFont';
    src: url('../assets/fonts/Chewy.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal; 
}

.panel {
    width: 99%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    border-radius: 15px;
    font-family: 'CustomFont', sans-serif;
}

.header {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.results {
    background-color: #63a35a;
    border: 1px solid #008a5b;
}

.classification {
    background-color: #378980;
    border: 1px solid #007063;
}

.footer {
    width: 100%;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.header img {
    width: auto;
    height: 50px;
    margin: 0;
    padding: 0;
}

.classification-body {
    width: 100%;
    background-color: #378980;
    border: 1px solid #007063;
}

.results-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.results-body img {
    max-width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

.table > :not(caption) > * > * {
    background-color: transparent !important;
}

.table td {
    padding: 0 !important;
    margin: 0 !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    height: 25px;
}

.table tr {
    border: 1px solid #008a5b;
}

.power-icon-container {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 5px;
}

.power-icon-container img {
    margin: 0;
    padding: 0;
    width: 12px;
    height: auto;
}